n8n_f.json
{
  "name": "Blink - AI Director (Master Knowledge V3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-director-prompts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-director",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ],
      "webhookId": "5d4b490c-8674-4d20-bec8-b123adfaf8bb"
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are an elite commercial director. Output a JSON object containing a 'scenes' array (exactly 4 objects). Write highly detailed, model-optimized prompts."
            },
            {
              "content": "==Master Concept: \"{{ $json.body.prompt }}\"\nVisual Style Required: {{ $json.body.style || 'Cinematic Realism' }}\nScene Configurations: {{ JSON.stringify($json.body.sceneConfigs || []) }}\n\nKNOWLEDGE BASE - SCENE MODES:\n- 'showcase' / 'keyframe': Focus on cinematic tracking, depth of field, and smooth composition.\n- 'ugc': Focus on iPhone/TikTok style, looking at camera, handheld feel, dynamic vlogger energy.\n- 'clothing': Focus on fashion editorial, clear lighting on garments.\n\nKNOWLEDGE BASE - AI MODELS:\n- 'bytedance/seedance-1.5-pro' or 'replicate:openai/sora-2': Prefer cinematic, live-action leaning prompts. Focus on expressive motion.\n- 'kling-3.0/video': MUST use explicit camera terms (e.g., 'Medium tracking shot', 'shallow depth-of-field').\n- 'replicate:prunaai/p-video': Keep prompts short and action-focused.\n\nINSTRUCTIONS:\nIf 'Scene Configurations' are provided, tailor each of the 4 scenes to its specific 'mode' and 'aiModel' using the knowledge base above.\n\nRULES FOR 'image_prompt':\n- Purely visual description of the start frame. MUST begin with the Visual Style.\n- NO text, NO speech.\n\nRULES FOR 'video_prompt':\n- Camera movement description tailored to the specific model and mode.\n\nRULES FOR 'audio_prompt':\n- The exact, spoken English narration script for this scene.\n\nOutput MUST be a JSON object exactly like this: {\"scenes\": [{\"image_prompt\": \"...\", \"video_prompt\": \"...\", \"audio_prompt\": \"...\"}]}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "gpt-director",
      "name": "GPT-4o Director",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        470,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "d9RHYDdBoXBkdrB0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let content = '';\nconst inputData = $input.first().json;\n\nif (inputData.message && inputData.message.content) {\n  content = inputData.message.content;\n} else if (inputData.content) {\n  content = inputData.content;\n}\n\nlet cleanText = content.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet result = { scenes: [] };\ntry {\n  result = JSON.parse(cleanText);\n} catch (e) {\n  result = { scenes: [] };\n}\n\nreturn { json: { scenes: result.scenes || [] } };"
      },
      "id": "parse-director",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ scenes: $json.scenes }) }}",
        "options": {}
      },
      "id": "respond-director",
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        910,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GPT-4o Director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Director": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Respond to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}